A {color: blue; text-decoration: underline;}
A:hover {color: green; }
img { border: 0em; }
P { 
	font-family: sans-serif; 
	font-size: 1em; 
	padding: 0em 0em 0em 0em; 
	margin: 0em 0em 0em 0em; 
	text-indent: 1em; 
}
	P.h1 { margin: 0em 2em 0em 2em; text-indent: 0em; }
	P.h2 { margin: 0em 3em 0em 3em; text-indent: 0em; }
	P.h3 { margin: 0em 4em 0em 4em; text-indent: 0em; }
	P.h4 { margin: 0em 5em 0em 5em; text-indent: 0em; }
	h1 { text-align: left; font-family: sans-serif; font-size: 1.75em; padding: 0em 0em 0em 0em; margin: 0em 0em 0em 0em;}
	h2 { text-align: left; font-family: sans-serif; font-size: 1.75em; padding: 0em 0em 0em 0em; margin: 0em 0em 0em 0em;}
	h3 { text-align: left; font-family: sans-serif; font-size: 1.5em; padding: 0em 0em 0em 0em; margin: 0em 0em 0em 0em;}
	h4 { text-align: left; font-family: sans-serif; font-size: 1.25em; padding: 0em 0em 0em 0em; margin: 0em 0em 0em 0em;}
body {
	background: #bac3ca; /*A canon color swatch if ever there was one.*/
	/*background-image: url("oblique.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

#pagebox, #navibox {
	background: transparent;
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#pagebox {
  border: 5px solid #818699;
	padding: 2em 2em 2em 2em;
	border-radius: 1em 1em 1em 1em;
}
.contentheader, .contentfooter {
	background: #f0f5a3;
	border: 3px solid #e0db66;
	color: #022b53;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	text-indent: 0em;
	text-align: center;
}
.contentheader h1 { text-align: center; }
	.contentheader {
		border-radius: 4em 4em 1em 1em;
	}
	.contentfooter {
		border-radius: 1em 1em 4em 4em;
		margin-top: 1%;
		clear: left;
	}
.contentheader2  { 
	color: black;
	background: #72cdf4;
	border: 1px solid #21a1d9;
	margin: 1% 0em 1% 0em;
	padding: 0em 0em 0em 0em;
	display: block;
	border-radius: .25em .25em .25em .25em;
	text-indent: 0em;
	text-align: center;
}
	.content {
		border: 2px solid #46225f;
		background: #e9f2f1;
		padding: 1% 1% 1% 1%;
		margin-bottom: 1%;
		display: block;
		border-radius: 1em;
		/*opacity: .85*/
	}
	.content p {
		color: #000000;
	}
	.content h1, .content h2, .content h3 {
		color: #292e1a;
		background: #B4BCCD;
		display: block;	
	}
	.content h1 { font-size: 1.2em }
	.content h2 { font-size: 1.1em }
	.content h3 { font-size: 1em }
	.content ul,.content ol,.content li {
		font-family: sans-serif;
		list-style-type: disc;
		margin: 0em 1em 0em 1em;
	}
	.content ol li { list-style-type: decimal; }
	.content img { display: block; margin: auto; }
table.navigation {
	margin: auto auto auto auto;
}
table.navigation td:hover {
	background: #d6d1e5;
	cursor: crosshair;
	border: 2px solid #0000ff;
}
table.navigation td {
	background: #ffffff;
	border: 2px solid gray;
	padding: 5px 5px 5px 5px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
}
.slidedialog {
	display: block;
	min-width: 0px;
	width: 50%;
	background: blue;
	border: 5px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	min-height: 100px;
}
	.slidedialog p {
		color: white;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		text-indent: 0px;
		font-weight: bold;
	}
	.slidedialog img {
		padding: 5px;
		float: left;
	}
